<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-type" content="text/html; charset=<% settings.charset %>" />
<title>Mohammad S Anwar (MANWAR)</title>
<link rel="stylesheet" href="<% request.uri_base %>/css/style.css" />
<link rel="shortcut icon" href="/favicon.ico" />
<link rel="stylesheet" href="<% request.uri_base %>/css/gh-fork-ribbon.min.css" />

<!-- Grab jQuery from a CDN, fall back to local if necessary -->
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script type="text/javascript">/* <![CDATA[ */
    !window.jQuery && document.write('<script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.js"><\/script>')
/* ]]> */</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67221108-1', 'auto');
  ga('send', 'pageview');

</script>

</head>
<body>

<style>
div#spinner
{
    display: none;
    width:100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: 50%;
    text-align:center;
    margin-left: -50px;
    margin-top: -100px;
    z-index:2;
    overflow: auto;
}
</style>

<div id="spinner"><img src="/images/ajax-loader.gif" alt="Loading..."/></div>
<div id="header">
<div class="header">Mohammad S Anwar (MANWAR)
  <span class="myprofiles" style="text-align:right;">
        |<a id="myhover"
            href="https://github.com/Manwar"
            target="_blank"
            title="github - manwar">
         <img src="/images/github.png" width="15" height="15" alt="github">
         </a>

        <a id="myhover"
           href="http://www.linkedin.com/in/mohammadanwar"
           target="_blank"
           title="linkedin - mohammadanwar">
        <img src="/images/linkedin.png" width="15" height="15" alt="linkedin">
        </a>

        <a id="myhover"
           href="http://www.perlmonks.org/?node=manwar"
           target="_blank"
           title="perlmonks - manwar">
        <img src="/images/perlmonks.png" width="15" height="15" alt="perlmonks">
        </a>

        <a id="myhover"
           href="http://stackoverflow.com/users/1421774/"
           target="_blank"
           title="stackoverflow - 1421774">
        <img src="/images/stackoverflow.png" width="15" height="15" alt="stackoverflow">
        </a>

        <a id="myhover"
           href="http://twitter.com/@cpan_author"
           target="_blank"
           title="twitter - @cpan_author">
        <img src="/images/twitter.png" width="15" height="15" alt="twitter">
        </a>

        <a id="myhover"
           href="https://gratipay.com/manwar"
           target="_blank"
           title="gittip - manwar">
        <img src="/images/gittip.png" width="15" height="15" alt="gittip">
        </a>

    </span>
</div>
<div class="subtitle">Just another Perl hacker</div>
<div class="navbar">
<a href="/cpan-regulars">CPAN Regulars</a>
<a href="/cpan-uploaders">CPAN Uploaders</a>
<a href="/neocpan-uploaders">NeoCPAN Uploaders</a>
<!-- <a href="/cpant-kwalitee">CPAN Kwalitee</a> -->
<a href="/my-activities">my Activities</a>
<a href="/my-cpan">my Distributions</a>
<a href="/my-adopted-cpan">my Adopted Distributions</a>
<a href="/my-pullrequest">my PullRequest</a>
<a href="/my-gitcommits">my GitCommits</a>
<a href="/my-job">my Job</a>
</div>
</div>
<div id="content">
<% content %>
</div>

<div id="footer" class="footer">
<a href="http://manwar.mooo.com:8888" target="_blank">Server Monitor</a>
&nbsp; | &nbsp;
Copyright &copy; 2015 - 2016 (Mohammad S Anwar - admin@manwar.org)
&nbsp; | &nbsp;
Powered by <a href="http://perldancer.org/">Dancer2 <% dancer_version %></a>
</div>

<div class="github-fork-ribbon-wrapper right-bottom">
  <div class="github-fork-ribbon">
     <a href="/contact-us">Contact Us</a>
  </div>
</div

</body>
</html>
