<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mohammad S Anwar (MANWAR)</title>
    <meta name="description" content="Mohammad S Anwar (MANWAR)">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
</head>

<style>
    body {
        padding-top: 51px;
    }

    .addon-image {
        left: 2%;
        top: 1%;
        position: absolute;
        margin-top: -25px;
        margin-left: -25px;
    }

    .no-padding {
        padding-left: 0;
	padding-right: 0;
    }

    .spinner {
        display: none;
        width:100px;
        height: 100px;
        position: fixed;
        top: 50%;
        left: 50%;
        text-align:center;
        margin-left: -50px;
        margin-top: -100px;
        z-index:2;
        overflow: auto;
    }

</style>

<body data-spy="scroll" data-target="#my-navbar">
        <!-- Navbar -->
  	<nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
  		<div class="container">
  			<div class="navbar-header">
  				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>
                                <a href="#" class="navbar-brand">HOME</a>
  			</div><!-- Navbar Header-->

                        <div class="collapse navbar-collapse" id="navbar-collapse">
                            <ul class="nav navbar-nav">
			        <li><a href="#recommendations">Who am I?</a>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Latest...<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
				      <li><a href="#work">Work...</a>
				      <li><a href="#what-is-new">What is new?</a>
				      <li><a href="#favourite-topics">Fovourite Topics</a>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">CPAN<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#cpan-recent">Recent Uploads</a></li>
                                        <li><a href="#cpan-regulars">Regular Uploads</a></li>
                                        <li><a href="#cpan-uploaders">Alltime Uploaders</a></li>
                                        <li><a href="#cpan-distributions">Distributions</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">GitHub<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#github-pullrequest">Pull Request</a></li>
                                        <li><a href="#pullrequest-challenge">Pull Request Challenge</a></li>
                                        <li><a href="#git-commits">Git Commits</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Demo<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#map-tube">Map::Tube</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
  		</div><!-- End Container-->
  	</nav><!-- End navbar -->

        <div class="container-fluid no-padding">
            <div class = "row">
                <div class="col-md-12">
                    <div>
                        <img src="/images/background.jpg" width="100%" class="img-responsive">
                        <img src="/images/logo.png" width="150px" height="150px" class="img-circle addon-image visible-sm visible-md visible-lg">
                    </div>
                </div>
            </div>
        </div>

  	<!-- Recommendations -->
	<hr  id="recommendations"/>
  	<div class="container">
  	    <section>
  	        <div class="page-header">
  		    <h1>Who am I?</h1>
  		</div>

  		<div class="row">
  		    <div class="col-md-4 text-justify">
  		        <img src="/images/lance_walton.jpg" title="Lance Walton, Partner at Underscore Consulting." class="img-responsive img-circle margin" style="display:inline" width="50" height="50" alt="Lance Walton">
    			<br/>
			<small>
                        Mohammad is a determined and proficient developer with an enthusiasm for learning new techniques and languages. He inherited a nasty legacy codebase and was always eager to help when problems surfaced, not resting until the immediate problem had been solved and the cause of the problem removed...
  			</small>
  		    </div>
  		    <div class="col-md-4 text-justify">
  			<img src="/images/ronnie_stafford.jpg" title="Ronnie Stafford, PhD Research." class="img-responsive img-circle margin" style="display:inline" width="50" height="50" alt="Ronnie Stafford">
			<br/>
			<small>
                        Mohammad worked closely with me maintaining and developing one of SunGard APT's Risk Reporting platforms. He is an incredibly proficient Perl developer and is a very skilful problem solver. His vital contribution to the team enabled us to implement critical enhancements and modernisation to the product while maintaining customer service...
			</small>
  		    </div>
  		    <div class="col-md-4 text-justify">
  			<img src="/images/abdul_kamaly.jpg" title="Abdul Kamaly, Enterprise Data Architecture." class="img-responsive img-circle margin" style="display:inline" width="50" height="50" alt="Abdul Kamaly">
    		        <br/>
			<small>
                        Mohammed is a very hard working individual. He has developed the Work Order workflow process on the NBOSS system, which is developed and maintained in house. We used his workflow to transfer our existing work order process on to NBOSS. The workflow really streamlined our business unit's work order process...
  		        </small>
  		    </div>
  		</div><!-- End row -->

		<br/>

		<div class="row">
   		    <div class="col-md-4 text-justify">
  			<img src="/images/paul_gowers.jpg" title="Paul Gowers, Technical Analyst." class="img-responsive img-circle margin" style="display:inline" width="50" height="50" alt="Paul Gowers">
			<br/>
			<small>
                        I worked on the same team as Mohammad and we were writing SMS sender modules in Perl. He had produced much of the core of the Perl SMS sub-system using object oriented class modules when I joined. I enjoyed working with Mohammad and he was very helpful in getting me started into the job....
			</small>
  		    </div>
  		    <div class="col-md-4 text-justify">
  			<img src="/images/ryan_harper.jpg" title="Ryan Harper, Senior Devops Consultant." class="img-responsive img-circle margin" style="display:inline" width="50" height="50" alt="Ryan Harper">
    		        <br/>
			<small>
                        Mohammad is the quiet genius that sits in the corner. He has an uncanny ability to resolve complex issues in rapid time. He has a great aptitude and never gets phased by anything. He just gets on with it. He is an absolute pleasure to work with...
  			</small>
  		    </div>
  		    <div class="col-md-4 text-justify">
  			<img src="/images/raj_patel.jpg" title="Raj Patel, Technical Architect." class="img-responsive img-circle margin" style="display:inline" width="50" height="50" alt="Raj Patel">
			<br/>
    		        <small>
                        Mohammad is a great software engineer who gets on the job without fuss and delivers great code. On top of this, he is a very personable chap and it was a pleasure working with along side him....
   	                </small>
  		    </div>
  		</div><!-- End row -->

		<br/>

		<div class="row">
		    <div class="col-md-4 text-justify">
  			<img src="/images/syed_raza_shahid.jpg" title="Syed Raza Shahid, Senior Language Modelling Scientist." class="img-responsive img-circle margin" style="display:inline" width="50" height="50" alt="Paul Gowers">
			<br/>
			<small>
                        Muhammad was a first person to contact if I have problems in perl or related. Although, we were working in different teams but at times we collaborated on certain tasks. He is a good teacher. I learnt a lot from him....
			</small>
  		    </div>
		</div>

	    </section>
  	</div> <!--End Container-->
	<br/><br/>

        <!-- Work -->
	<hr id="work"/>
	<div class="container">
             <section>
                 <div class="page-header">
                     <h1>Work...</h1>
                 </div>
                 <div class="panel-group">
                     <div class="panel panel-success text-center">
                         <div class="panel-heading">
                           <strong>
                             <a href="http://www.ntt.com">NTT Europe Ltd, London</a>
                           </strong>
                         </div>
                         <div class="panel-body">
                             <small>
                                 <p class="text-success">
                                     Systems Developer (Sep 2012 - Present)
                                 </p>
                                 <p class="text-center text-primary">
                                     Design, implement and maintain additional features and functionality within the Operational Support Systems (OSS), web based application, platforms.</p>
                             </small>
                         </div>
                     </div>
                 </div>

                 <div class="row">
                     <div class="col-sm-4">
                         <div class="panel panel-default text-center">
                             <div class="panel-heading">
                               <strong>
                                 <a href="http://www.sungard.com">SunGard System, London</a>
                               </strong>
                             </div>
                             <div class="panel-body">
                                 <small>
                                     <p class="text-success">
                                         Software Developer (May 2010 - Jul 2012)
                                     </p>
                                     <p class="text-justify text-primary">
                                         Developed and maintained APT Raptor, Risk reporting tool for high volumes of portfolios.
                                     </p>
                                 </small>
                                 <br/>
                             </div>
                         </div>
                     </div>

                     <div class="col-sm-4">
                         <div class="panel panel-info text-center">
                             <div class="panel-heading">
                               <strong>
                                 <a href="http://www.odls.com">ODL Securities, London</a>
                               </strong>
                             </div>
                             <div class="panel-body">
                                 <small>
                                     <p class="text-success">
                                         Dev Support Engineer, London (Feb 2008 - Apr 2010)
                                     </p>
                                     <p class="text-justify text-primary">
                                         Developed and maintained realtime trading application. Integrated with LIFFE Connect to make cross border trading easier and cheaper.</p>
                                 </small>
                             </div>
                         </div>
                     </div>

                     <div class="col-sm-4">
                         <div class="panel panel-warning text-center">
                             <div class="panel-heading">
                               <strong>
                                 <a href="http://www.spinvox.com">SpinVox Ltd, Marlow</a>
                               </strong>
                             </div>
                             <div class="panel-body">
                                 <small>
                                     <p class="text-success">
                                         Software Engineer (Mar 2006 - Jan 2008)
                                     </p>
                                     <p class="text-justify text-primary">
                                         Designed and developed SMS System. Integrated with Telstra, AllTel, Telefonica, Vodafone, Vodacom, Cincinnati Bell using SMPP technology.</p>
                                 </small>
                             </div>
                         </div>
                     </div>
                 </div><!-- end row -->

                 <div class="row">
                     <div class="col-sm-4">
                         <div class="panel panel-danger text-center">
                             <div class="panel-heading">
                               <strong>
                                 <a href="http://www.tuskerdirect.com">Tuskerdirect Ltd, Watford</a>
                               </strong>
                             </div>
                             <div class="panel-body">
                                 <small>
                                     <p class="text-success">
                                         Software Engineer (Jan 2001 - Feb 2006)
                                     </p>
                                     <p class="text-justify text-primary">
                                     Involved in the design and development of in-house web application, Fleet Manager, using Perl, CGI and Oracle 9i.
                                     </p>
                                     <br/>
                                 </small>
                             </div>
                         </div>
                     </div>

                     <div class="col-sm-4">
                         <div class="panel panel-success text-center">
                             <div class="panel-heading">
                                 <strong>
                                   <a href="http://www.orientindia.com">Orient Technology Ltd, London</a>
                                 </strong>
                             </div>
                             <div class="panel-body">
                                 <small>
                                     <p class="text-success">
                                         Software Engineer, London (Nov 1999 - Dec 2000)
                                     </p>
                                     <p class="text-justify text-primary">
                                     Worked as consultant for various clients like GSM Vodafone, Tamar, Torrington Interactive and 2WebPages. Used Perl, CGI, MySQL and Oracle.</p>
                                 </small>
                             </div>
                         </div>
                     </div>

                     <div class="col-sm-4">
                         <div class="panel panel-info text-center">
                             <div class="panel-heading">
                               <strong>
                                 <a href="http://www.infofin.com">Infotech Financial Ltd, Mumbai</a>
                               </strong>
                             </div>
                             <div class="panel-body">
                                 <small>
                                     <p class="text-success">
                                         Software Engineer (Jan 1998 - Oct 1999)
                                     </p>
                                     <p class="text-justify text-primary">
                                         Involved in design and development of web based application I-Fund for IDBI Mutual Fund using Perl, CGI and MySQL.</p>
                                 </small>
                             </div>
                         </div>
  		     </div>
                 </div><!-- end row -->

             </section>
        </div><!-- End Container -->
	<br/>
	<br/>

        <!-- What is new? -->
	<hr id="what-is-new"/>
	<div class="container">
            <section>
  	        <div class="page-header">
  		    <h1>What is new?</h1>
  	        </div>

                <div id="what-is-new-slides" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#what-is-new-slides" data-slide-to="0" class="active"></li>
                        <li data-target="#what-is-new-slides" data-slide-to="1"></li>
                        <li data-target="#what-is-new-slides" data-slide-to="2"></li>
                        <li data-target="#what-is-new-slides" data-slide-to="3"></li>
                        <li data-target="#what-is-new-slides" data-slide-to="4"></li>
                        <li data-target="#what-is-new-slides" data-slide-to="5"></li>
                        <li data-target="#what-is-new-slides" data-slide-to="6"></li>
                        <li data-target="#what-is-new-slides" data-slide-to="7"></li>
                        <li data-target="#what-is-new-slides" data-slide-to="8"></li>
                        <li data-target="#what-is-new-slides" data-slide-to="9"></li>
                        <li data-target="#what-is-new-slides" data-slide-to="10"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">

                        <!-- Slide 1 -->
                        <div class="item active">
                            <div class="panel panel-success text-center">
                                <div class="panel-heading"><strong>21st August 2017</strong></div>
                                <div class="panel-body">
                                    <small>
                                        <p class="text-success">
                                            <strong>
                                            <a href="http://perlweekly.com/archive/317.html" target="_blank">Perl Weekly Issue #317</a>
                                            </strong>
                                        </p>
                                        <p class="text-primary">
                                            <strong>Perl weekly newsletter issue <a href="http://perlweekly.com/archive/317.html">#317</a>, mentioned my <a href="http://blogs.perl.org/users/mohammad_s_anwar/2017/08/lets-celebrate-cpan-day-in-a-special-way.html">blog</a> about celebrating CPAN day and release of new map Map::Tube::Kolkatta.</strong>.
                                        </p>
                                    </small>
                                </div>
                            </div>
                        </div><!-- End of Slide 1 -->

                        <!-- Slide 2 -->
                        <div class="item">
                            <div class="panel panel-warning text-center">
                                <div class="panel-heading"><strong>3rd August 2017</strong></div>
                                <div class="panel-body">
                                    <small>
                                        <p class="text-success">
                                            <strong>
                                            <a href="http://perltricks.com/article/what-s-new-on-cpan---july-2017/" target="_blank">What's new on CPAN - July 2017</a>
                                            </strong>
                                        </p>
                                        <p class="text-primary">
                                            <strong><a href="https://metacpan.org/release/Calendar-Julian" target="_blank">Calendar::Julian</a></strong> is reported under the category <strong>"Language & International"</strong>.
                                        </p>
                                    </small>
                                </div>
                            </div>
                        </div><!-- End of Slide 2 -->

                        <!-- Slide 3 -->
                        <div class="item">
                            <div class="panel panel-success text-center">
                                <div class="panel-heading"><strong>24th July 2017</strong></div>
                                <div class="panel-body">
                                    <small>
                                        <p class="text-success">
                                            <strong>
                                            <a href="http://perlweekly.com/archive/313.html" target="_blank">Perl Weekly Issue #313</a>
                                            </strong>
                                        </p>
                                        <p class="text-primary">
                                            <strong>Perl weekly newsletter issue <a href="http://perlweekly.com/archive/313.html">#313</a>, editorial talking about my 1000th consecutive days releasing to CPAN.</strong>.
                                        </p>
                                    </small>
                                </div>
                            </div>
                        </div><!-- End of Slide 3 -->

                        <!-- Slide 4 -->
                        <div class="item">
                            <div class="panel panel-success text-center">
                                <div class="panel-heading"><strong>23rd July 2017</strong></div>
                                <div class="panel-body">
                                    <small>
                                        <p class="text-success">
                                            <strong>
                                            <a href="http://blogs.perl.org/users/mohammad_s_anwar/2017/07/1000th-consecutive-days-releasing-to-cpan.html" target="_blank">1000th consecutive days releasing to CPAN</a>
                                            </strong>
                                        </p>
                                        <p class="text-primary">
                                            <strong>To celebrate the special day, I released new distributions i.e. Date::Hebrew::Simple, Date::Julian::Simple, Calendar::Hebrew and Calendar::Julian.</strong>.
                                        </p>
                                    </small>
                                </div>
                            </div>
                        </div><!-- End of Slide 4 -->

                        <!-- Slide 5 -->
                        <div class="item">
                            <div class="panel panel-success text-center">
                                <div class="panel-heading"><strong>13th March 2017</strong></div>
                                <div class="panel-body">
                                    <small>
                                        <p class="text-success">
                                            <strong>
                                            <a href="http://perltricks.com/article/what-s-new-on-cpan---february-2017/" target="_blank">
                                                What's new on CPAN - February 2017
                                            </a>
                                            </strong>
                                        </p>
                                        <p class="text-primary">
                                            <strong><a href="https://metacpan.org/release/CPANTS-Kwalitee-Report" target="_blank">CPANTS::Kwalitee::Report</a></strong> is reported under the category <strong>"Config & Devops"</strong>.
                                        </p>
                                    </small>
                                </div>
                            </div>
                        </div><!-- End of Slide 5 -->

                        <!-- Slide 6 -->
                        <div class="item">
                            <div class="panel panel-info text-center">
                                <div class="panel-heading"><strong>25th December 2016</strong></div>
                                <div class="panel-body">
                                    <small>
                                        <p class="text-success">
                                            <strong>
                                            <a href="http://24pullrequests.com/users/manwar" target="_blank">24 PullRequest Challenge</a>
                                            </strong>
                                        </p>
                                        <p class="text-primary">
                                            Completed the 24 PullRequest Challenge for the year 2016 and submitted <strong>66</strong> pull requests. In previous year, 2015, I submitted <strong>44</strong> pull requests.
                                        </p>
                                    </small>
                                </div>
                            </div>
                        </div><!-- End of Slide 6 -->

                        <!-- Slide 7 -->
                        <div class="item">
                            <div class="panel panel-danger text-center">
                                <div class="panel-heading"><strong>3rd December 2016</strong></div>
                                <div class="panel-body">
                                    <small>
                                        <p class="text-success">
                                            <strong>
                                            <a href="http://blogs.perl.org/users/mohammad_s_anwar/2016/12/my-first-ever-talk-at-london-perl-workshop-2016.html">London Perl Workshop 2016</a>
                                            </strong>
                                        </p>
                                        <p class="text-primary">
                                            Presented talk at <strong>LPW 2016</strong>. Topic was <strong>Journey: CPAN user to CPAN contributor</strong>.<a href="/talks/LPW2016.pdf" target="_blank">[Slides]</a>
                                        </p>
                                    </small>
                                </div>
                            </div>
                        </div><!-- End of Slide 7 -->

                        <!-- Slide 8 -->
                        <div class="item">
                            <div class="panel panel-warning text-center">
                                <div class="panel-heading"><strong>25th September 2016</strong></div>
                                <div class="panel-body">
                                    <small>
                                        <p class="text-success">
                                            <strong>
                                            <a href="https://code-maven.com/cmos-11-mohammad-s-anwar" target="_blank">CMOS #11: Interviewed by Gabor Szabo</a>
                                            </strong>
                                        </p>
                                        <p class="text-primary">
                                            <strong>Interviewed by Gabor with regard to my journey as a CPAN contributor. [<a href="https://www.youtube.com/watch?v=hS0LRP3uwW4" target="_blank">VIDEO</a>]</strong>.
                                        </p>
                                    </small>
                                </div>
                            </div>
                        </div><!-- End of Slide 8 -->

                        <!-- Slide 9 -->
                        <div class="item">
                            <div class="panel panel-warning text-center">
                                <div class="panel-heading"><strong>6th April 2016</strong></div>
                                <div class="panel-body">
                                    <small>
                                        <p class="text-success">
                                            <strong>
                                            <a href="http://perltricks.com/article/what-s-new-on-cpan---march-2016/" target="_blank">What's new on CPAN - March 2016</a>
                                            </strong>
                                        </p>
                                        <p class="text-primary">
                                            <strong><a href="https://metacpan.org/release/Calendar-Gregorian" target="_blank">Calendar::Gregorian</a></strong> is reported under the category <strong>"Data"</strong>.
                                        </p>
                                    </small>
                                </div>
                            </div>
                        </div><!-- End of Slide 9 -->

                        <!-- Slide 10 -->
                        <div class="item">
                            <div class="panel panel-default text-center">
                                <div class="panel-heading"><strong>2nd December 2014</strong></div>
                                <div class="panel-body">
                                    <small>
                                        <p class="text-success">
                                            <strong>
                                            <a href="http://perltricks.com/article/137/2014/12/2/What-s-new-on-CPAN---November-2014/" target="_blank">What's new on CPAN - November 2014</a>
                                            </strong>
                                        </p>
                                        <p class="text-primary">
                                            <strong><a href="https://metacpan.org/release/Crypt-Trifid" target="_blank">Crypt::Trifid</a></strong> is reported under the category <strong>"Games & Entertainment"</strong>.
                                        </p>
                                    </small>
                                </div>
                            </div>
                        </div><!-- End of Slide 10 -->

                        <!-- Slide 11 -->
                        <div class="item">
                            <div class="panel panel-success text-center">
                                <div class="panel-heading"><strong>1st August 2014</strong></div>
                                <div class="panel-body">
                                    <small>
                                        <p class="text-success">
                                            <strong>
                                            <a href="http://perltricks.com/article/106/2014/8/1/What-s-new-on-CPAN-July-2014/" target="_blank">What's new on CPAN - July 2014</a>
                                            </strong>
                                        </p>
                                        <p class="text-primary">
                                            <strong><a href="https://metacpan.org/release/Map-Tube-London" target="_blank">Map::Tube::London</a></strong> is reported under the category <strong>"Fun"</strong>.
                                        </p>
                                    </small>
                                </div>
                            </div>
                        </div><!-- End of Slide 11 -->
                    </div><!-- End of Wrapper for Slides -->

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#what-is-new-slides" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#what-is-new-slides" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </section>
        </div><!-- End container -->

	<br/>
	<br/>
	<br/>

        <!-- Favourite Topics -->
	<hr id="favourite-topics"/>
	<div class="container">
            <section>
  	        <div class="page-header">
  		    <h1>Favourite Topics</h1>
  	        </div>

                <div id="favourite-topics-slides" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#favourite-topics-slides" data-slide-to="0" class="active"></li>
                        <li data-target="#favourite-topics-slides" data-slide-to="1"></li>
                        <li data-target="#favourite-topics-slides" data-slide-to="2"></li>
                        <li data-target="#favourite-topics-slides" data-slide-to="3"></li>
                        <li data-target="#favourite-topics-slides" data-slide-to="4"></li>
                        <li data-target="#favourite-topics-slides" data-slide-to="5"></li>
                        <li data-target="#favourite-topics-slides" data-slide-to="6"></li>
                        <li data-target="#favourite-topics-slides" data-slide-to="7"></li>
                        <li data-target="#favourite-topics-slides" data-slide-to="8"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <!-- Slide 1 -->
                        <div class="item active">
                            <div class="panel panel-success text-center">
                                <div class="panel-heading"><strong>14th September 2017</strong></div>
                                <div class="panel-body">
                                        <p class="text-success">
                                            <strong>
                                            <a href="https://perlgeek.de/en/article/encodings-and-unicode" target="_blank">
                                                Character Encodings in Perl
                                            </a>
                                            </strong>
                                        </p>
                                </div>
                            </div>
                        </div><!-- End of Slide 1 -->

                        <!-- Slide 2 -->
                        <div class="item">
                            <div class="panel panel-success text-center">
                                <div class="panel-heading"><strong>20th July 2017</strong></div>
                                <div class="panel-body">
                                        <p class="text-success">
                                            <strong>
                                            <a href="http://friedo.com/blog/2013/07/arrays-vs-lists-in-perl" target="_blank">
                                                Arrays vs. Lists in Perl: What's the Difference?
                                            </a>
                                            </strong>
                                        </p>
                                </div>
                            </div>
                        </div><!-- End of Slide 2 -->

                        <!-- Slide 3 -->
                        <div class="item">
                            <div class="panel panel-success text-center">
                                <div class="panel-heading"><strong>26th April 2017</strong></div>
                                <div class="panel-body">
                                        <p class="text-success">
                                            <strong>
                                            <a href="https://xenoterracide.com/post/inversion-of-control-principle/" target="_blank">
                                                Inversion of Control Principle
                                            </a>
                                            </strong>
                                        </p>
                                </div>
                            </div>
                        </div><!-- End of Slide 3 -->

                        <!-- Slide 4 -->
                        <div class="item">
                            <div class="panel panel-info text-center">
                                <div class="panel-heading"><strong>19th April 2017</strong></div>
                                <div class="panel-body">
                                        <p class="text-success">
                                            <strong>
                                            <a href="http://www.mojavelinux.com/articles/javascript_hashes.html" target="_blank">
                                                Hash Tables in Javascript
                                            </a>
                                            </strong>
                                        </p>
                                </div>
                            </div>
                        </div><!-- End of Slide 4 -->

                        <!-- Slide 5 -->
                        <div class="item">
                            <div class="panel panel-danger text-center">
                                <div class="panel-heading"><strong>19th April 2017</strong></div>
                                <div class="panel-body">
                                        <p class="text-success">
                                            <strong>
                                            <a href="http://blogs.perl.org/users/neilb/2017/04/dependency-phases-in-cpan-distribution-metadata.html" target="_blank">
                                                Dependency phases in CPAN distribution metadata
                                            </a>
                                            </strong>
                                        </p>
                                </div>
                            </div>
                        </div><!-- End of Slide 5 -->

                        <!-- Slide 6 -->
                        <div class="item">
                            <div class="panel panel-warning text-center">
                                <div class="panel-heading"><strong>22nd February 2017</strong></div>
                                <div class="panel-body">
                                        <p class="text-success">
                                            <strong>
                                            <a href="http://perladvent.org/2014/2014-12-11.html" target="_blank">
                                                A tiny but powerful Type System
                                            </a>
                                            </strong>
                                        </p>
                                </div>
                            </div>
                        </div><!-- End of Slide 6 -->

                        <!-- Slide 7 -->
                        <div class="item">
                            <div class="panel panel-default text-center">
                                <div class="panel-heading"><strong>8th February 2017</strong></div>
                                <div class="panel-body">
                                        <p class="text-success">
                                            <strong>
                                            <a href="http://www.dagolden.com/index.php/1322/five-testmore-features-you-might-not-be-using-yet" target="_blank">
                                                Five Test::More features you might not be using yet
                                            </a>
                                            </strong>
                                        </p>
                                </div>
                            </div>
                        </div><!-- End of Slide 7 -->

                        <!-- Slide 8 -->
                        <div class="item">
                            <div class="panel panel-info text-center">
                                <div class="panel-heading"><strong>27th January 2017</strong></div>
                                <div class="panel-body">
                                        <p class="text-success">
                                            <strong>
                                            <a href="http://www.catonmat.net/blog/secret-perl-operators" target="_blank">
                                                Perl secret operators
                                            </a>
                                            </strong>
                                        </p>
                                </div>
                            </div>
                        </div><!-- End of Slide 8 -->

                        <!-- Slide 9 -->
                        <div class="item">
                            <div class="panel panel-danger text-center">
                                <div class="panel-heading"><strong>26th January 2017</strong></div>
                                <div class="panel-body">
                                        <p class="text-success">
                                            <strong>
                                            <a href="http://perltricks.com/article/how-to-build-a-base-module" target="_blank">
                                                How to build a base module?
                                            </a>
                                            </strong>
                                        </p>
                                </div>
                            </div>
                        </div><!-- End of Slide 9 -->

                    </div>

                    <!-- Left and right controls -->
                    <a class="left carousel-control" href="#favourite-topics-slides" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#favourite-topics-slides" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </section>
        </div><!-- End container -->

	<br/>
	<br/>
	<br/>

        <!-- CPAN Recent -->
	<hr id="cpan-recent"/>

	<div class="container">
          <section>
  	    <div class="page-header">
  	      <h1>CPAN Recent</h1>
  	    </div>

            <% FOREACH row IN rows %>
                <div class="row">
                <% FOREACH col IN row%>
                    <div class="col-md-3"><div class="thumbnail">
                        <a target="_blank" title="<% col.tooltip %>" href="<% col.link %>"><% col.name %></a>
                    </div></div>
                <% END %>
                </div>
            <% END %>

          </section>
  	</div> <!--End Container-->

        <!-- CPAN Regulars -->
	<hr id="cpan-regulars"/>

	<div class="container">
          <section>
  	    <div class="page-header">
  	      <h1>CPAN Regulars</h1>
  	    </div>

            <ul class="nav nav-tabs" role="tablist">
               <li class="active"><a id="ds" href="#daily_stats" role="tab" data-toggle="tab">Daily</a></li>
               <li><a id="ws" href="#weekly_stats" role="tab" data-toggle="tab">Weekly</a></li>
               <li><a id="ms" href="#monthly_stats" role="tab" data-toggle="tab">Monthly</a></li>
            </ul>

            <div id="cr-spinner" class="spinner"><img src="/images/ajax-loader.gif" alt="Loading..."/></div>

            <div class="tab-content">
               <div class="tab-pane active in" id="daily_stats"></div>
               <div class="tab-pane" id="weekly_stats"></div>
               <div class="tab-pane" id="monthly_stats"></div>
            </div>
          </section>
  	</div> <!--End Container-->

        <!-- CPAN Uploaders -->
	<hr id="cpan-uploaders"/>

	<div class="container">
          <section>
  	    <div class="page-header">
  		<h1>CPAN Uploaders</h1>
  	    </div>

            <ul class="nav nav-tabs" role="tablist">
               <li class="active"><a id="cus" href="#cpan_uploaders_stats" role="tab" data-toggle="tab">All Time</a></li>
               <li><a id="nus" href="#neocpan_uploaders_stats" role="tab" data-toggle="tab">NeoCPAN</a></li>
            </ul>

            <div id="cu-spinner" class="spinner"><img src="/images/ajax-loader.gif" alt="Loading..."/></div>

            <div class="tab-content">
               <div class="tab-pane active in" id="cpan_uploaders_stats"></div>
               <div class="tab-pane" id="neocpan_uploaders_stats"></div>
            </div>
          </section>
  	</div> <!--End Container-->

        <!-- CPAN Distributions -->
	<hr id="cpan-distributions"/>

	<div class="container">
          <section>
  	    <div class="page-header">
  		<h1>CPAN Distributions</h1>
  	    </div>

            <ul class="nav nav-tabs" role="tablist">
               <li class="active"><a id="ad" href="#ad_stats" role="tab" data-toggle="tab">Adopted</a></li>
               <li><a id="pd-a-c" href="#pd_a_c_stats" role="tab" data-toggle="tab">Personal (a..c)</a></li>
               <li><a id="pd-d-h" href="#pd_d_h_stats" role="tab" data-toggle="tab">Personal (d..h)</a></li>
               <li><a id="pd-i-p" href="#pd_i_p_stats" role="tab" data-toggle="tab">Personal (i..p)</a></li>
               <li><a id="pd-q-z" href="#pd_q_z_stats" role="tab" data-toggle="tab">Personal (q..z)</a></li>
            </ul>

            <div id="cd-spinner" class="spinner"><img src="/images/ajax-loader.gif" alt="Loading..."/></div>

            <div class="tab-content">
               <div class="tab-pane active in" id="ad_stats"></div>
               <div class="tab-pane" id="pd_a_c_stats"></div>
               <div class="tab-pane" id="pd_d_h_stats"></div>
               <div class="tab-pane" id="pd_i_p_stats"></div>
               <div class="tab-pane" id="pd_q_z_stats"></div>
            </div>
          </section>
  	</div> <!--End Container-->

        <!-- GitHub PullRequest -->
	<hr id="github-pullrequest"/>

	<div class="container">
          <section>
  	    <div class="page-header">
  		<h1>GitHub PullRequest</h1>
  	    </div>

            <ul class="nav nav-tabs" role="tablist">
               <li class="active"><a id="pr_summary" href="#pr_summary_stats" role="tab" data-toggle="tab">Summary</a></li>
               <li><a id="pr_2017" href="#pr_2017_stats" role="tab" data-toggle="tab">2017</a></li>
               <li><a id="pr_2016" href="#pr_2016_stats" role="tab" data-toggle="tab">2016</a></li>
               <li><a id="pr_2015" href="#pr_2015_stats" role="tab" data-toggle="tab">2015</a></li>
            </ul>

            <div id="pr-spinner" class="spinner"><img src="/images/ajax-loader.gif" alt="Loading..."/></div>

            <div class="tab-content">
               <div class="tab-pane active in" id="pr_summary_stats"></div>
               <div class="tab-pane" id="pr_2017_stats"></div>
               <div class="tab-pane" id="pr_2016_stats"></div>
               <div class="tab-pane" id="pr_2015_stats"></div>
            </div>
          </section>
  	</div> <!--End Container-->

        <!-- Map::Tube Section -->
	<hr id="map-tube"/>

	<div class="container">
          <section>
  	    <div class="page-header">
  		<h1>Map::Tube</h1>
  	    </div>

            <ul class="nav nav-tabs" role="tablist">
               <li class="active"><a id="map_tube_summary" href="#map_tube_summary_details" role="tab" data-toggle="tab">Summary</a></li>
               <li><a id="map_tube_demo" href="#map_tube_demo_live" role="tab" data-toggle="tab">Try Me</a></li>
            </ul>

            <div id="map-tube-spinner" class="spinner"><img src="/images/ajax-loader.gif" alt="Loading..."/></div>

            <div class="tab-content">
               <div class="tab-pane active in" id="map_tube_summary_details">
                  <div class="panel-group">
                     <div class="panel panel-success text-center">
                         <div class="panel-heading">
                           <strong>
                             <a href="http://www.ntt.com">Map::Tube - Lightweight Routing Framework</a>
                           </strong>
                         </div>
                         <div class="panel-body">
                             <small>
                                 <p class="text-justify text-primary">
                                     <a target="_blank" title="Map::Tube" href="https://metacpan.org/pod/Map::Tube"><strong>Map::Tube</strong></a>
                                     is one of my favourite distributions published to <strong>CPAN</strong>. It was first released on <strong>26th Oct 2010</strong>.
                                     As of Map::Tube <strong>v3.36</strong>, there have been <strong>148</strong> public releases so far. In the
                                     long journey so far, I have made many friends all along. Some even became contributors as well, which made it
                                     more fun to work on. There are around <strong>33</strong> maps created using the framework as listed below.
                                 </p>
                             </small>

                             <% FOREACH dist_row IN dists %>
                             <div class="row">
                               <% FOREACH dist_col IN dist_row%>
                               <div class="col-md-2">
                                 <div class="thumbnail">
                                   <a target="_blank" title="<% dist_col.title %>" href="https://metacpan.org/pod/<% dist_col.name %>"><% dist_col.title %></a>
                                 </div>
                               </div>
                               <% END %>
                             </div>
                             <% END %>
                         </div>
                     </div>
                  </div>
               </div>

               <div class="tab-pane" id="map_tube_demo_live">
                 <form class="form-horizontal">
                   <div class="form-group">
                     <label for="map_name" class="col-sm-3 control-label">Map (City):</label>
                     <div class="col-sm-9">
                       <select id="map_name" class="form-control">
                         <option value="">--Select map--</option>
                         <% FOREACH map IN maps %>
                         <option value="<% map.name %>"><% map.name %></option>
                         <% END %>
                       </select>
                     </div>
                   </div>
                   <div class="form-group">
                     <label for="start" class="col-sm-3 control-label">Start Station:</label>
                     <div class="col-sm-9">
                       <select id="start" class="form-control"></select>
                     </div>
                   </div>
                   <div class="form-group">
                     <label for="end" class="col-sm-3 control-label">End Station:</label>
                     <div class="col-sm-9">
                       <select id="end" class="form-control"></select>
                     </div>
                   </div>
                   <div class="form-group">
                     <div class="col-sm-offset-3 col-sm-9">
                       <button id="map_tube_button" type="button" class="btn btn-default">Find Shortest Route</button>
                     </div>
                   </div>
                 </form>

                 <div id="shortest-route-result" class="panel-body text-primary"></div>

               </div>

            </div>
          </section>
  	</div> <!--End Container-->

        <!-- PullRequest Challenge -->
        <hr id="pullrequest-challenge"/>

	<div class="container">
          <section>
  	    <div class="page-header">
  		<h1>PullRequest Challenge</h1>
  	    </div>

            <ul class="nav nav-tabs" role="tablist">
               <li class="active"><a id="prc_summary" href="#prc_summary_stats" role="tab" data-toggle="tab">Summary</a></li>
               <li><a id="prc_2017" href="#prc_2017_stats" role="tab" data-toggle="tab">2017</a></li>
               <li><a id="prc_2016" href="#prc_2016_stats" role="tab" data-toggle="tab">2016</a></li>
               <li><a id="prc_2015" href="#prc_2015_stats" role="tab" data-toggle="tab">2015</a></li>
            </ul>

            <div id="prc-spinner" class="spinner"><img src="/images/ajax-loader.gif" alt="Loading..."/></div>

            <div class="tab-content">
               <div class="tab-pane active in" id="prc_summary_stats"></div>
               <div class="tab-pane" id="prc_2017_stats"></div>
               <div class="tab-pane" id="prc_2016_stats"></div>
               <div class="tab-pane" id="prc_2015_stats"></div>
            </div>
          </section>
  	</div> <!--End Container-->

        <!-- Git Commits -->
	<hr id="git-commits"/>

	<div class="container">
          <section>
  	    <div class="page-header">
  		<h1>Git Commits</h1>
  	    </div>

            <ul class="nav nav-tabs" role="tablist">
               <li class="active"><a id="gc_summary" href="#gc_summary_stats" role="tab" data-toggle="tab">Summary</a></li>
               <li><a id="gc_2017" href="#gc_2017_stats" role="tab" data-toggle="tab">2017</a></li>
               <li><a id="gc_2016" href="#gc_2016_stats" role="tab" data-toggle="tab">2016</a></li>
               <li><a id="gc_2015" href="#gc_2015_stats" role="tab" data-toggle="tab">2015</a></li>
               <li><a id="gc_2014" href="#gc_2014_stats" role="tab" data-toggle="tab">2014</a></li>
            </ul>

            <div id="gc-spinner" class="spinner"><img src="/images/ajax-loader.gif" alt="Loading..."/></div>

            <div class="tab-content">
               <div class="tab-pane active in" id="gc_summary_stats"></div>
               <div class="tab-pane" id="gc_2017_stats"></div>
               <div class="tab-pane" id="gc_2016_stats"></div>
               <div class="tab-pane" id="gc_2015_stats"></div>
               <div class="tab-pane" id="gc_2014_stats"></div>
            </div>
          </section>
  	</div> <!--End Container-->

        <!-- Contact -->
        <!--hr id="contact"/>
        <div class="container">
            <section>
            <div class="page-header">
                <h2>Contact Me</h2>
            </div><!-- End Page Header -->

            <!--div id="contact-response" class="text-success"></div>

            <div class="row">
                <div class="col-lg-12">
                    <form id="contact-form" action="/contact" class="form-horizontal">
                        <div class="form-group">
                            <label for="user-name" class="col-lg-2 control-label text-primary">Name</label>
                               <div class="col-lg-10">
                                   <input type="text" class="form-control" id="user-name" name="user-name" placeholder="Enter your name">
                               </div>
                        </div><!-- End form group -->

                        <!--div class="form-group">
                            <label for="user-email" class="col-lg-2 control-label text-primary">Email</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="user-email" name="user-email" placeholder="Enter your email address">
                            </div>
                        </div><!-- End form group -->

                        <!--div class="form-group">
                            <label for="user-email-subject" class="col-lg-2 control-label text-primary">Subject</label>
                            <div class="col-lg-10">
                                <input type="text" class="form-control" id="user-email-subject" name="user-email-subject" placeholder="Enter your email subject">
                            </div>
                        </div><!-- End form group -->

                        <!--div class="form-group">
                            <label for="user-message" class="col-lg-2 control-label text-primary">Message</label>
                            <div class="col-lg-10">
                                <textarea name="user-message" id="user-message" name="user-message" class="form-control" cols="20" rows="10" placeholder="Enter your message"></textarea>
                            </div>
                        </div><!-- End form group -->

                        <!--div class="form-group">
                            <div class="col-lg-10 col-lg-offset-2">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div><!-- End the row -->
            <!--/section>
        </div><!-- End Container -->

<!-- Footer -->
    <hr>
    <footer>
	<div class="container text-center">
	<a href="https://github.com/manwar" target="_blank"><i class="fa fa-github"></i></a>
    &nbsp;
	<a href="https://gratipay.com/manwar" target="_blank"><i class="fa fa-gittip"></i></a>
    &nbsp;
	<a href="http://stackoverflow.com/users/1421774/" target="_blank"><i class="fa fa-stack-overflow"></i></a>
    &nbsp;
	<a href="http://twitter.com/@cpan_author" target="_blank"><i class="fa fa-twitter"></i></a>
    &nbsp;
	<a href="http://www.linkedin.com/in/mohammadanwar" target="_blank"><i class="fa fa-linkedin"></i></a>
    &nbsp;
        <a href="https://perlmaven.com/perl-tutorial">[Perl Tutorial]</a>
    <br/>
	<small>&copy; Copyright 2015 - 2017 www.manwar.org</small>
    </div>
    </footer>
    <hr>

    <br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/>

    <script type="text/javascript" src="<% request.uri_base %>/javascripts/jquery.js"></script>
    <script type="text/javascript" src="<% request.uri_base %>/javascripts/manwar.js"></script>
    <script type="text/javascript">
        $("#contact-form").submit(function(event) {
            /* Get form data */
            var $form   = $(this);
            var name    = $form.find('input[name="user-name"]').val();
            var email   = $form.find('input[name="user-email"]').val();
            var subject = $form.find('input[name="user-email-subject"]').val();
            var message = $form.find('textarea[name="user-message"]').val();
            var url     = $form.attr('action');

            /* Sending the data using post */
            var posting = $.post(url, {
                uname: name,
                uemail: email,
                usubject: subject,
                umessage: message
            });

            /* Display the response */
            posting.done(function(data) {
                $("#contact-response").empty().append(data);;
            });

            //$.post(url, $("#contact-form").serialize()).done(function(data) { $("#contact-response").empty().append(data); });
        });
    </script>
    <script type="text/javascript" src="<% request.uri_base %>/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="<% request.uri_base %>/javascripts/highstock.js"></script>
    <script type="text/javascript" src="<% request.uri_base %>/javascripts/data.js"></script>
    <script type="text/javascript" src="<% request.uri_base %>/javascripts/drilldown.js"></script>
    <script type="text/javascript" src="<% request.uri_base %>/javascripts/exporting.js"></script>

</body>
</html>
