<div>
<ul>
<li><b><font color="red">[2017-04-26]</font></b>&nbsp;&nbsp;<a href="https://xenoterracide.com/post/inversion-of-control-principle/" style="color:brown; background-color:transparent; text-decoration:underline" target="_blank">Inversion of Control Principle</a>&nbsp;&nbsp;(courtesy: <a href="https://xenoterracide.com" style="color:brown; background-color:transparent; text-decoration:underline" target="_blank">xenoterracide.com</a>)</li>
<li><b><font color="red">[2017-04-19]</font></b>&nbsp;&nbsp;<a href="http://www.mojavelinux.com/articles/javascript_hashes.html" style="color:brown; background-color:transparent; text-decoration:underline" target="_blank">Hash Tables in Javascript</a>&nbsp;&nbsp;(courtesy: <a href="http://www.mojavelinux.com" style="color:brown; background-color:transparent; text-decoration:underline" target="_blank">mojavelinux.com</a>)</li>
<li><b><font color="red">[2017-04-11]</font></b>&nbsp;&nbsp;<a href="http://blogs.perl.org/users/neilb/2017/04/dependency-phases-in-cpan-distribution-metadata.html" style="color:brown; background-color:transparent; text-decoration:underline" target="_blank">Dependency phases in CPAN distribution metadata</a>&nbsp;&nbsp;(courtesy: <a href="http://blogs.perl.org" style="color:brown; background-color:transparent; text-decoration:underline" target="_blank">blogs.perl.org</a>)</li>
<li><b><font color="red">[2017-02-22]</font></b>&nbsp;&nbsp;<a href="http://perladvent.org/2014/2014-12-11.html" style="color:brown; background-color:transparent; text-decoration:underline" target="_blank">A Tiny But Powerful Type System</a>&nbsp;&nbsp;(courtesy: <a href="http://perladvent.org" style="color:brown; background-color:transparent; text-decoration:underline" target="_blank">perladvent.org</a>)</li>
<li><b><font color="red">[2017-02-18]</font></b>&nbsp;&nbsp;<a href="http://grantm.github.io/perl-libxml-by-example/" style="color:brown; background-color:transparent; text-decoration:underline" target="_blank">Perl XML::LibXML by Example</a>&nbsp;&nbsp;(courtesy: <a href="http://grantm.github.io" style="color:brown; background-color:transparent; text-decoration:underline" target="_blank">grantm.github.io</a>)</li>
<li><b><font color="red">[2017-02-08]</font></b>&nbsp;&nbsp;<a href="http://www.dagolden.com/index.php/1322/five-testmore-features-you-might-not-be-using-yet/" style="color:brown; background-color:transparent; text-decoration:underline" target="_blank">Five Test::More features you might not be using yet</a>&nbsp;&nbsp;(courtesy: <a href="http://www.dagolden.com" style="color:brown; background-color:transparent; text-decoration:underline" target="_blank">dagolden.com</a>)</li>
<li><b><font color="red">[2017-01-27]</font></b>&nbsp;&nbsp;<a href="http://www.catonmat.net/blog/secret-perl-operators/" style="color:brown; background-color:transparent; text-decoration:underline" target="_blank">Perl Secret Operators</a>&nbsp;&nbsp;(courtesy: <a href="http://www.catonmat.net/category/perl-programming" style="color:brown; background-color:transparent; text-decoration:underline" target="_blank">catonmat.net</a>)</li>
<li><b><font color="red">[2017-01-26]</font></b>&nbsp;&nbsp;<a href="http://perltricks.com/article/how-to-build-a-base-module/" style="color:brown; background-color:transparent; text-decoration:underline" target="_blank">How To Build a Base Module</a>&nbsp;&nbsp;(courtesy: <a href="http://www.perltricks.com" style="color:brown; background-color:transparent; text-decoration:underline" target="_blank">perltricks.com</a>)</li>
</ul>
</div>
