<div>
<ul>
<li><b><font color="red">[2017-01-26]</font></b>&nbsp;&nbsp;<a href="http://perltricks.com/article/how-to-build-a-base-module/" style="color:brown; background-color:transparent; text-decoration:underline" target="_blank">How To Build a Base Module</a>&nbsp;&nbsp;(courtesy: <a href="http://www.perltricks.com" style="color:brown; background-color:transparent; text-decoration:underline" target="_blank">perltricks.com</a>)</li>
</ul>
</div>
