caption
{
	margin: 0 auto;
	text-align: center;
	color: #2B65EC;
	font: 40px/50px Georgia, serif;
}

strong
{
	text-transform: uppercase;
}

table
{
	margin: 0 auto;
}

th,
td
{
	border-left: 1px solid #ccb;
	border-top: 1px solid #ccb;
	font-family: Verdana, sans-serif;
	padding: 0 2px;
	vertical-align: top;
	width: 100px;
	height: inherit;
}

td a
{
	padding: 0 0 0 10px;
}

td a:hover
{
	text-decoration: underline;
}

col.Sat,
col.Sun
{
	background: red;
}

tr.number
{
	background: #2B65EC;
	color: #fff;
	font-size: 30px;
	height: 45px;
	text-align: center;
	vertical-align: middle;
}

th
{
	background: #2B65EC;
	color: #fff;
	font-size: 25px;
	font-variant: small-caps;
	font-weight: normal;
	height: 15px;
	text-transform: capitalize;
	text-align: center;
	vertical-align: middle;
}
